name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "latest"

      - name: Install
        run: bun install

      - name: Check formatting (Prettier)
        run: bunx prettier --check .

      - name: Run linter
        run: bun run lint

  semantic-title-check:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            chore
            refactor
            perf
            test
            ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
