name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7.1
        with:
            enable-cache: true
      - run: uv run --all-extras --dev pytest -vvv --cov=src
      - name: Report Coverage
        run: uv run --all-extras --dev coverage report -m

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7.1
        with:
            enable-cache: true
      - name: pre-commit
        run: uv run --all-extras --dev pre-commit run --all-files -v

  semantic-title-check:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            chore
            refactor
            perf
            test
            ci
            docs
            style
            build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
